@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Sardar Mudassar Ali Khan CICD On Azure VM</a>.</p>
    <h2>This App is deployed on azure VM using CICD pipeline</h2>
</div>
